@tailwind base;
@tailwind components;
@tailwind utilities;

input[readonly]:focus {
  background-color: #f3f4f6 !important; /* bg-gray-100 */
  border-color: #d1d5db !important; /* border-gray-300 */
  box-shadow: none !important;
}

input[readonly] {
    color: #374151 !important; /* text-gray-700 */
}
